.crveni_paragraf {
    color: red;
}

li {
    color: green;
}
.kurs {
    color: blue;
}
div p {
    text-decoration: underline;
}
div .pod-paragraf {
    font-weight: bold;
}
/* Ciljano selektovanje elemenata */
ol li:nth-child(4){
    color: cornflowerblue;
    font-size: 30px;
    font-style: italic;
}
ol li:nth-child(odd) {
    font-size: 20px;
    color: darkgoldenrod;
}
ol li:nth-child(even) {
    color: darkorchid;
    font-size: 25px;
}
table{
    border: blue 1px solid;
    
}