table, td, th {
    border: 1px solid black;
  }
  
  table {
    
    width: 100%;
    border-collapse: collapse;
  }
  .email {
    background-color: yellow;
  }
  .treci {
    background-color: yellow;
  }
  
  th {
    text-align: left;
  }